loguru==0.7.3
pydantic==2.10.6
pypdf2==3.0.1
openai==1.63.0
pydub==0.25.1
pathlib==1.0.1
sentence_transformers==3.4.1
langchain==0.3.18
tiktoken==0.9.0
huggingface-hub==0.28.1
transformers==4.48.3
autopep8==2.3.2
streamlit==1.42.0
unstructured==0.16.20
llama-parse==0.6.1
orjson==3.10.15
supabase==2.13.0
beautifulsoup4==4.13.3
selenium==4.28.1
requests==2.32.3
langgraph==0.2.73
